*{
    padding: 0;
    margin:0;
    background-color: white;
    color: #48037C;
}
.login-container{
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20rem;
}
h2{
    color:#2E023C;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
}
.login-form label{
    border-radius: 1rem;
    padding: 0.5rem;
    display: block;
    margin: 10px 0;
    font-size: 1.7rem;
}
.login-form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #C3D3FD;
    border-radius: 2rem;
    box-sizing: border-box;
}
.login-form button{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}
.login-form button:hover{
    background-color: #A06FFB;
    color: white;
    cursor: pointer;;
}
.login-form{
    padding: 40px;
    border-radius: 2rem;
    text-align: center;
    background-color:#C3D3FD ;
    border-style: solid;
    border-color: #2E023C;
    box-sizing: border-box;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.8);
}
.login-form p{
    background-color: #C3D3FD;
    font-size: 1.5rem;
}
#link{
    background-color: #C3D3FD;
    color: #2E023C;
    font-size: 1.5rem;
}
